:root,
[data-theme] {
	--dw-neutral-text-color-light: var(--dw-color-gray-30);
	--dw-neutral-text-color-dark: var(--dw-color-gray-90);
	--dw-neutral-background-color-light: var(--dw-color-gray-100);
	--dw-neutral-background-color-dark: var(--dw-color-gray-20);
	--dw-neutral-border-color-light: var(--dw-color-gray-30);
	--dw-neutral-border-color-dark: var(--dw-color-gray-90);
	--dw-neutral-shadow-color-light: var(--dw-color-gray-50);
	--dw-neutral-shadow-color-dark: var(--dw-color-gray-10);
	--dw-primary-text-color-light: var(--dw-color-blue-30);
	--dw-primary-text-color-dark: var(--dw-color-blue-90);
	--dw-primary-background-color-light: var(--dw-color-blue-100);
	--dw-primary-background-color-dark: var(--dw-color-blue-10);
	--dw-primary-border-color-light: var(--dw-color-blue-30);
	--dw-primary-border-color-dark: var(--dw-color-blue-90);
	--dw-primary-shadow-color-light: var(--dw-color-blue-90);
	--dw-primary-shadow-color-dark: var(--dw-color-blue-30);
	--dw-secondary-text-color-light: var(--dw-color-purple-30);
	--dw-secondary-text-color-dark: var(--dw-color-purple-90);
	--dw-secondary-background-color-light: var(--dw-color-purple-100);
	--dw-secondary-background-color-dark: var(--dw-color-purple-10);
	--dw-secondary-border-color-light: var(--dw-color-purple-30);
	--dw-secondary-border-color-dark: var(--dw-color-purple-90);
	--dw-secondary-shadow-color-light: var(--dw-color-purple-90);
	--dw-secondary-shadow-color-dark: var(--dw-color-purple-30);
	--dw-code-text-color-light: var(--dw-color-gray-90);
	--dw-code-text-color-dark: var(--dw-color-gray-90);
	--dw-code-background-color-light: var(--dw-color-gray-30);
	--dw-code-background-color-dark: var(--dw-color-gray-10);
	--dw-neutral-text-color: var(--dw-neutral-text-color-light);
	--dw-neutral-background-color: var(--dw-neutral-background-color-light);
	--dw-neutral-border-color: var(--dw-neutral-border-color-light);
	--dw-neutral-shadow-color: var(--dw-neutral-shadow-color-light);
	--dw-primary-text-color: var(--dw-primary-text-color-light);
	--dw-primary-background-color: var(--dw-primary-background-color-light);
	--dw-primary-border-color: var(--dw-primary-border-color-light);
	--dw-primary-shadow-color: var(--dw-primary-shadow-color-light);
	--dw-secondary-text-color: var(--dw-secondary-text-color-light);
	--dw-secondary-background-color: var(--dw-secondary-background-color-light);
	--dw-secondary-border-color: var(--dw-secondary-border-color-light);
	--dw-secondary-shadow-color: var(--dw-secondary-shadow-color-light);
	--dw-code-text-color: var(--dw-code-text-color-light);
	--dw-code-background-color: var(--dw-code-background-color-light);
	--dw-color: var(--dw-neutral-text-color);
	--dw-background-color: var(--dw-neutral-background-color);
	--dw-link-color: var(--dw-primary-text-color);
	--dw-link-color-hover: var(--dw-accent-text-color);
	--dw-link-color-visited: var(--dw-secondary-text-color);
	--dw-shadow-neutral:
		0.3px 0.5px 0.7px oklch(from var(--dw-neutral-shadow-color) l c h / 36%),
		0.8px 1.6px 2px -0.8px oklch(from var(--dw-neutral-shadow-color) l c h / 36%),
		2.1px 4.1px 5.2px -1.7px oklch(from var(--dw-neutral-shadow-color) l c h / 36%),
		5px 10px 12.6px -2.5px oklch(from var(--dw-neutral-shadow-color) l c h / 36%);

	@media (prefers-color-scheme: dark) {
		--dw-neutral-text-color: var(--dw-neutral-text-color-dark);
		--dw-neutral-background-color: var(--dw-neutral-background-color-dark);
		--dw-neutral-border-color: var(--dw-neutral-border-color-dark);
		--dw-neutral-shadow-color: var(--dw-neutral-shadow-color-dark);
		--dw-primary-text-color: var(--dw-primary-text-color-dark);
		--dw-primary-background-color: var(--dw-primary-background-color-dark);
		--dw-primary-border-color: var(--dw-primary-border-color-dark);
		--dw-primary-shadow-color: var(--dw-primary-shadow-color-dark);
		--dw-secondary-text-color: var(--dw-secondary-text-color-dark);
		--dw-secondary-background-color: var(--dw-secondary-background-color-dark);
		--dw-secondary-border-color: var(--dw-secondary-border-color-dark);
		--dw-secondary-shadow-color: var(--dw-secondary-shadow-color-dark);
		--dw-code-background-color: var(--dw-code-background-color-dark);
	}
}
