a {
	color: currentcolor;
}

a:hover,
a:focus {
	text-decoration: none;
}

a[aria-current='page'] {
	--underline-color: hwb(240deg 50% 0%);

	text-decoration-color: var(--underline-color);
	text-decoration-thickness: 0.125em;
	text-decoration-style: dotted;
}

@media (prefers-color-scheme: dark) {
	a[aria-current='page'] {
		--underline-color: hwb(300deg 50% 0%);
	}
}
