a {
  color: currentcolor;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus {
  outline: 0.125em solid var(--ink);
  outline-offset: 0.25em;
}

a:focus:not(:focus-visible) {
  outline-color: transparent;
}

a[aria-current='page'] {
  text-decoration-color: hwb(240deg 50% 0%);
  text-decoration-thickness: 0.125em;
  text-decoration-style: dotted;
}

@media (prefers-color-scheme: dark) {
  a[aria-current='page'] {
    text-decoration-color: hwb(300deg 50% 0%);
  }
}
