pre {
	font-family: var(--mono);
	background-color: var(--terminal);
	border-radius: 0.25rem;
	padding: var(--size-s3);
	white-space: pre;
	overflow-x: auto;
}

code {
	font-family: var(--mono);
	font-size: 85%;
	background-color: var(--terminal);
	padding-inline: 0.25ch;
	border-radius: 0.25em;
}

pre code {
	background-color: var(--terminal);
	display: inline-block;
	font-size: 100%;
	padding-inline: 0 var(--size-s3);
	tab-size: 2;
}
