:root {
  --ink: hwb(0deg 10% 90%);
  --paper: hwb(0deg 95% 5%);
  --terminal: hwb(180deg 85% 5%);

  --serif: "Supreme", "Iowan Old Style", "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --sans: "Recia", -apple-system, "BlinkMacSystemFont", "avenir next", "avenir", "segoe ui", "helvetica neue", "helvetica", "Ubuntu", "roboto", "noto", "arial", sans-serif;
  --mono: ui-monospace, menlo, monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  font-family: var(--serif);
  color-scheme: light dark;
  background-color: var(--paper);
  color: var(--ink);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ink: hwb(0deg 95% 5%);
    --paper: hwb(0deg 10% 90%);
    --terminal: hwb(200deg 0% 75%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
