a {
  color: var(--dw-link-color);
    
  &:visited {
    color: var(--dw-link-color-visited);
  }
  
  &:is(:hover, :active) {
    color: var(--dw-link-color-hover);
    text-decoration: none;
  }
}
