:is(ul, ol) {
	padding-inline-start: 1.5rem;

	li + li {
		margin-block-start: 0.25rem;
	}
}

ol ol {
	list-style-type: lower-alpha;

	ol {
		list-style-type: lower-roman;
	}
}

:where(dt) {
	font-weight: 700;
}
