@use 'sass:color';

/* stylelint-disable selector-class-pattern */
.hljs {
  &-attr,
  &-attribute,
  &-built_in,
  &-comment,
  &-keyword,
  &-meta,
  &-name,
  &-number,
  &-params,
  &-property,
  &-regexp,
  &-section,
  &-selector-tag,
  &-string,
  &-tag,
  &-title,
  &-variable {
    color: var(--ink);
  }

  &-attr,
  &-attribute,
  &-params {
    --ink: #{color.hwb(200deg 10% 50%)};
  }

  &-built_in,
  &-title.function_,
  &-number {
    --ink: #{color.hwb(72deg 0% 60%)};
  }

  &-comment {
    --ink: #{color.hwb(120deg 0% 60%)};
  }

  &-tag {
    --ink: #{color.hwb(220deg 50% 70%)};
  }

  &-keyword,
  &-meta,
  &-tag &-name,
  &-selector-tag {
    --ink: #{color.hwb(220deg 0% 50%)};
  }

  &-property,
  &-variable {
    --ink: #{color.hwb(170deg 0% 60%)};
  }

  &-regexp {
    --ink: #{color.hwb(0deg 0% 50%)};
  }

  &-section {
    --ink: #{color.hwb(206deg 0% 30%)};
  }

  &-string {
    --ink: #{color.hwb(36deg 0% 50%)};
  }

  @media (prefers-color-scheme: dark) {
    &-attr,
    &-attribute,
    &-params {
      --ink: #{color.hwb(200deg 50% 10%)};
    }

    &-built_in,
    &-title.function_,
    &-number {
      --ink: #{color.hwb(72deg 50% 10%)};
    }

    &-comment {
      --ink: #{color.hwb(120deg 50% 35%)};
    }

    &-tag {
      --ink: #{color.hwb(220deg 100% 50%)};
    }

    &-keyword,
    &-meta,
    &-tag &-name,
    &-selector-tag {
      --ink: #{color.hwb(220deg 50% 0%)};
    }

    &-property,
    &-variable {
      --ink: #{color.hwb(170deg 50% 10%)};
    }

    &-regexp {
      --ink: #{color.hwb(0deg 50% 0%)};
    }

    &-section {
      --ink: #{color.hwb(206deg 50% 0%)};
    }

    &-string {
      --ink: #{color.hwb(36deg 50% 0%)};
    }
  }
}
