@use '../tools/functions';
@use '../tools/mixins';

.cmp-it-me {
  &__image {
    @include mixins.img-drop-shadow;

    float: inline-start;
    max-width: min(30vw, 200px);
    clip-path: circle(50%);
    shape-outside: circle(50%);
    margin-block-end: functions.fluid-size('micro');
    margin-inline-end: functions.fluid-size('base');
  }

  > p + p {
    margin-block-start: functions.fluid-size('base');
  }
}
