@use '../tools/functions';
@use '../tools/mixins';

.cmp-pictures-of-cats {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: functions.fluid-size('base');
    place-items: center;

    @supports (grid-template-rows: masonry) {
      grid-template-rows: masonry;
    }
  }

  &__image {
    @include mixins.img-drop-shadow;

    border-radius: functions.fluid-size('nano');
  }
}
