@use '../tools/functions';
@use '../tools/mixins';

$bp-two-column: 52rem;

.cmp-pictures-of-cats {
  &__grid {
    display: grid;
    gap: functions.fluid-size('base');
    grid-template-columns: 1fr;

    @media (min-width: $bp-two-column) {
      grid-template-columns: 1fr 1fr;

      @supports (grid-template-rows: masonry) {
        grid-template-rows: masonry;
      }

      @supports not (grid-template-rows: masonry) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
    }
  }

  &__cell {
    @media (min-width: $bp-two-column) {
      @supports not (grid-template-rows: masonry) {
        --aspect-ratio: 1;

        flex-basis: 17.5rem;
        flex-grow: max((var(--aspect-ratio) - 1) * 1000, 1);
      }
    }
  }

  &__image {
    @include mixins.img-drop-shadow;

    border-radius: functions.fluid-size('nano');
    width: 100%;
    height: auto;
  }
}
