@use '../tools/functions';

.cmp-project {
  &__list {
    list-style: none;
    padding-inline: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: functions.fluid-size('giga');
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: functions.fluid-size('base');
  }

  &__heading {
    font-size: functions.fluid-size('base');
    margin: 0;
  }

  &__group-heading {
    margin-block-start: functions.fluid-size('giga');
    margin-block-end: functions.fluid-size('kilo');
  }
}
