---
title: Projects - Dustin Whisman
description: Check out some of the projects I've worked on, including ones that are still in progress.
layout: default
---

<h1>Projects</h1>

<p>
	These are the projects I've worked on recently, both for clients and as
	personal side projects. I can't link to everything (nondisclosure), but for the ones that I can, I will.
</p>

<p class="cmp-project__skip-link">
	<a href="#role-descriptions">Description of roles</a>
</p>

<h2 class="util-visually-hidden">List of projects, from 2021 to now</h2>

<ul class="cmp-project__list">
	{% from 'partials/macros/project-card.njk' import projectCard %}
	{% for project in projects.projects %}
	<li>
		{{ projectCard(project, 'h3') }}
	</li>
	{% endfor %}
</ul>

<h2 id="role-descriptions" tabindex="-1">
	But what did I do?
</h2>

<p>
	As a more experienced developer, I end up wearing different hats on different
	projects. I've indicated my role(s) for each project, and this what I actually
	did according to those roles.
</p>

<dl class="cmp-stack">
	<div>
		<dt>
			Feature Lead
		</dt>
		<dd>
			I was responsible for planning a subset of the project's overall work.
			This usually happens when there is a lot of work to do and enough team
			members to split between different efforts.
		</dd>
	</div>

	<div>
		<dt>
			Individual Contributor
		</dt>
		<dd>
			I wrote code for this project, usually as part of a team or in the case of
			side projects, by myself.
		</dd>
	</div>

	<div>
		<dt>
			Product Owner
		</dt>
		<dd>
			I was at least partially responsible for the overall vision of the
			project, providing feedback and direction for the features that the
			project needed.
		</dd>
	</div>

	<div>
		<dt>
			Tech Lead
		</dt>
		<dd>
			I was responsible for planning and prioritizing work on the project. That
			includes making architectural decisions, writing issues/cards/tickets,
			reviewing PRs, and generally helping to unblock work.
		</dd>
	</div>
</dl>
