---
title: Writing - Dustin Whisman
description: I write words sometimes.
layout: default
pagination:
  data: collections.writing
  size: 25
  alias: articles
  reverse: true
---

<h1>Writing</h1>

<h2>All Posts</h2>
<a href="#collections" class="util-visually-hidden cmp-skip-to-content">Skip to Collections</a>

<ul class="cmp-article-listing">
	{% for article in articles %}
		<li>
			<a href="{{ article.url }}">{{ article.data.articleTitle }}</a>
			<span>
				<span class="util-visually-hidden">Published:</span>
				<time datetime="{{ article.date.toISOString() }}" class="cmp-badge">
					{{ article.date.toLocaleDateString(undefined, { timeZone: 'UTC' }) }}
				</time>
			</span>
		</li>
	{% endfor %}
</ul>

<nav class="cmp-navigation cmp-navigation--basic-pagination" aria-label="Article pagination navigation">
	{% if pagination.href.previous %}
		<a href="{{ pagination.href.previous }}">Newer posts</a>
	{% endif %}
	{% if pagination.href.next %}
		<a href="{{ pagination.href.next }}">Older posts</a>
	{% endif %}
</nav>

<h2 id="collections" tabindex="-1">Collections</h2>

<ul class="cmp-article-listing">
	<li>
		<a href="/writing/accessibility-top-100/">How accessible are the top 100 US sites?</a>
	</li>
	<li>
		<a href="/writing/accessibility-how-tos/">Accessibility how-tos</a>
	</li>
	<li>
		<a href="/writing/certified-professional-in-accessibility-core-competencies-certification/">Certified Professional in Accessibility Core Competencies (CPACC) certification notes</a>
	</li>
	<li>
		<a href="/writing/eleventy-starter-template/">Building an Eleventy starter template</a>
	</li>
	<li>
		<a href="/writing/web-accessibility-specialist-certification/">Web Accessibility Specialist (WAS) certification notes</a>
	</li>
</ul>
