---
title: Pictures of Cats - Dustin Whisman
description: Look at Goose and Barry! They're so cute, those little monsters.
layout: default
---

<h1>Pictures of Cats</h1>

{% from 'partials/macros/cat-picture.njk' import catPicture %}
{% set imagesRendered = 0 %}
{% for month, monthData in global.catsByMonth %}
	{% if loop.index <= 3 %}
		<h2>{{ monthData.name }}</h2>
		{% set altText %}Collection of pictures of my cats, Goose and Barry, taken during {{ monthData.name }}.{% endset %}
		{% for image in monthData.pictures %}
			{% set imagesRendered = imagesRendered + 1 %}
			{% if loop.index > 1 %}
				{% set altText = "" %}
			{% endif %}
			{{ catPicture(image, imagesRendered, 4, altText) }}
		{% endfor %}
	{% elseif loop.index === 4 %}
		<nav class="cmp-navigation cmp-navigation--basic-pagination" aria-label="Picture of cats by month">
			<a href="/cats/{{ month }}/">Older Pictures</a>
		</nav>
	{% endif %}
{% endfor %}
