---
title: Pictures of Cats - Dustin Whisman
description: Look at Goose and Barry! They're so cute, those little monsters.
layout: default
---

<h1>Pictures of Cats</h1>

{% from 'partials/macros/cat-picture.njk' import catPicture %}
{% set imagesRendered = 0 %}
{% for month, monthData in global.catsByMonth %}
	{% if loop.index <= 3 %}
		<h2>{{ monthData.name }}</h2>
		<div class="cmp-pictures-of-cats__grid">
			{% set altText %}Collection of pictures of my cats, Goose and Barry, taken during {{ monthData.name }}.{% endset %}
			{% for image in monthData.pictures %}
				{% set imagesRendered = imagesRendered + 1 %}
				{% if loop.index > 1 %}
					{% set altText = "" %}
				{% endif %}
				{{ catPicture(image, imagesRendered, 4, altText) }}
			{% endfor %}
		</div>
	{% elseif loop.index === 4 %}
		<h2>Older Pictures</h2>
		<p><a href="/cats/{{ month }}/">{{ monthData.name }}</a></p>
	{% else %}
		<p><a href="/cats/{{ month }}/">{{ monthData.name }}</a></p>
	{% endif %}
{% endfor %}
