{% macro catPicture(image, index) %}
<div>
  <picture>
    <source srcset="/images/cats/avif/{{ image.replace('.jpg', '.avif') }}" type="image/avif">
    <source srcset="/images/cats/webp/{{ image.replace('.jpg', '.webp') }}" type="image/webp">
    <img src="/images/cats/{{ image }}" alt="" class="cmp-pictures-of-cats__image" {% if index >= 6 %}loading="lazy"{% endif %}>
  </picture>
</div>
{% endmacro %}
