{% macro catPicture(image, index) %}
<div class="cmp-pictures-of-cats__cell" style="--aspect-ratio: {{ image.aspectRatio }}">
  <picture>
    <source srcset="/images/cats/avif/{{ image.name.replace('.jpg', '.avif') }}" type="image/avif">
    <source srcset="/images/cats/webp/{{ image.name.replace('.jpg', '.webp') }}" type="image/webp">
    <img
      src="/images/cats/{{ image.name }}"
      alt=""
      width="{{ image.width }}"
      height="{{ image.height }}"
      class="cmp-pictures-of-cats__image"
      {% if index >= 6 %}loading="lazy"{% endif %}
    >
  </picture>
</div>
{% endmacro %}
