.cmp-permalink__wrapper {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.cmp-permalink__link {
	text-decoration: none;
}

.cmp-permalink__wrapper:not(:hover) .cmp-permalink__link:not(:focus) {
	position: absolute;
	height: 1px;
	width: 1px;
	clip-path: inset(50%);
	overflow: hidden;
	white-space: nowrap;
}
