.cmp-permalink__wrapper {
	display: flex;
	align-items: center;
	gap: 1ch;
}

.cmp-permalink__link {
	font-weight: 700;
	text-decoration: none;
}

.cmp-permalink__wrapper:not(:hover) .cmp-permalink__link:not(:focus) {
	opacity: 0;
}
