.cmp-navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	gap: 1rem;
	padding-block: 1rem;
	padding-inline: 0;
	font-size: var(--dw-font-size-body-lg);

	li {
		margin-block-start: 0;
	}

	a {
		color: var(--dw-link-color);
		text-decoration: none;

		&:hover {
			color: var(--dw-link-color-hover);
			text-decoration: underline;
		}

		&[aria-current] {
			color: var(--dw-link-color-hover);
		}
	}
}

.cmp-navigation--basic-pagination {
	font-size: var(--dw-font-size-body-md);
	justify-content: space-between;
	margin-block-start: 1rem;
}
