.cmp-self-sprite {
	--frame-stare: 0% 0%;
	--frame-blink: calc(100% / 9) 0%;
	--frame-eyebrow: calc((100% / 9) * 2) 0%;
	--frame-tail: calc((100% / 9) * 3) 0%;
	--frame-tail-1: calc((100% / 9) * 4) 0%;
	--frame-goose-peek: calc((100% / 9) * 5) 0%;
	--frame-goose-medium: calc((100% / 9) * 6) 0%;
	--frame-goose-surprise: calc((100% / 9) * 7) 0%;
	--frame-goose-calm: calc((100% / 9) * 8) 0%;
	--frame-goose-bye: 100% 0%;

	width: 256px;
	height: 256px;
	max-width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
	object-position: 0% 0%;
	animation: sprite 30s steps(2, jump-none) infinite;
}

@keyframes sprite {
	0% {
		object-position: var(--frame-stare);
	}

	16% {
		object-position: var(--frame-stare);
	}

	17% {
		object-position: var(--frame-blink);
	}

	18% {
		object-position: var(--frame-stare)
	}

	32% {
		object-position: var(--frame-stare)
	}

	33% {
		object-position: var(--frame-blink)
	}

	34% {
		object-position: var(--frame-stare)
	}

	43% {
		object-position: var(--frame-stare)
	}

	45% {
		object-position: var(--frame-eyebrow)
	}

	52% {
		object-position: var(--frame-stare)
	}

	64% {
		object-position: var(--frame-stare)
	}

	65% {
		object-position: var(--frame-tail)
	}

	70% {
		object-position: var(--frame-tail-1)
	}

	77% {
		object-position: var(--frame-stare)
	}

	85% {
		object-position: var(--frame-stare)
	}

	86% {
		object-position: var(--frame-goose-peek)
	}

	88% {
		object-position: var(--frame-goose-surprise)
	}

	91% {
		object-position: var(--frame-goose-calm)
	}

	93% {
		object-position: var(--frame-goose-bye)
	}

	94% {
		object-position: var(--frame-goose-medium)
	}

	95% {
		object-position: var(--frame-stare)
	}

	100% {
		object-position: var(--frame-stare)
	}
}
