.cmp-self-sprite {
  width: 256px;
  height: 256px;
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  animation: sprite 10s steps(30, jump-none) infinite;
}

@keyframes sprite {
  from {
    object-position: 0% 0%;
  }

  to {
    object-position: 100% 0%;
  }
}
