---
title: Accessibility how-tos - Dustin Whisman
description: A collection of practical advice and examples to help make websites more accessible.
layout: default
date: 2024-05-16T00:00:01Z
articleTitle: Accessibility how-tos
eleventyExcludeFromCollections: true
pagination:
  data: collections['accessibility how-tos']
  size: 25
  alias: articles
  reverse: true
---

<h1>Accessibility how-tos</h1>

<p>
	A collection of practical advice and examples to help make websites more accessible.
</p>

<ul class="cmp-article-listing__list">
	{% for article in articles %}
		<li>
			<a href="{{ article.url }}" class="cmp-article-listing__link">{{ article.data.articleTitle }}</a>
			<span>
				<span class="util-visually-hidden">Published:</span>
				<time datetime="{{ article.date.toISOString() }}" class="cmp-badge">
					{{ article.date.toLocaleDateString(undefined, { timeZone: 'UTC' }) }}
				</time>
			</span>
		</li>
	{% endfor %}
</ul>

<nav class="cmp-navigation cmp-navigation--basic-pagination" aria-label="Accessibility how-tos pagination navigation">
	{% if pagination.href.previous %}
		<a href="{{ pagination.href.previous }}" class="cmp-navigation__previous">Newer posts</a>
	{% endif %}
	{% if pagination.href.next %}
		<a href="{{ pagination.href.next }}" class="cmp-navigation__next">Older posts</a>
	{% endif %}
</nav>
