---
title: Search - Dustin Whisman
description: Go ahead, search the archives. Take a look around. See if anything catches your eye.
layout: default
---

<h1>Search</h1>

<form action="https://duckduckgo.com" method="GET" role="search" class="cmp-form cmp-form__search">
	<div>
		<label for="search" class="cmp-form__label">Search</label>
		<input id="search" type="search" name="q" class="cmp-form__input">
	</div>
	<input type="hidden" name="sites" value="dustinwhisman.com">
	<button type="submit" class="cmp-form__button">Search</button>
</form>

<div id="search-results" tabindex="-1" class="cmp-stack"></div>

{% block scripts %}
<script src="/js/search.js" type="module"></script>
{% endblock %}
