---
title: Dustin Whisman - Full Stack Developer
description: Hi, I'm Dustin. I'm a full stack developer, which means I write HTML, CSS, and JavaScript, among other related tooling and frameworks.
layout: layout.njk
---

<h1 class="util-visually-hidden">
  About Me
</h1>

<p>
  Hi, I'm Dustin. I'm a full stack developer at <a
  href="https://sparkbox.com">Sparkbox</a>, where I write HTML, CSS, JavaScript,
  and whatever other <em>webby stuff</em> our clients need.
</p>
