---
title: Dustin Whisman - Full Stack Developer
description: Hi, I'm Dustin. I'm a full stack developer, which means I write HTML, CSS, and JavaScript, among other related tooling and frameworks.
layout: layout.njk
---

<h1 class="util-visually-hidden">
  About Me
</h1>

<div class="cmp-stack cmp-stack--giga">
  <div class="cmp-it-me">
    <img src="/images/beautiful-shining-face.jpg" alt="One of few salvageable photos of me from vacation in Switzerland. I'm almost smiling like a normal person." class="cmp-it-me__image">
    <p>
      Hi, I'm Dustin. I'm a full stack developer at <a
      href="https://sparkbox.com">Sparkbox</a>, where I write HTML, CSS,
      JavaScript, and whatever other <em>webby stuff</em> our clients need.
    </p>
    <p>
      I'm a generalist, so I'd say my strongest skill is problem solving. And
      I always prioritize accessibility, performance, and the user experience
      of whatever I'm building with whatever tools I'm building them with.
    </p>
  </div>

  <div class="cmp-stack">
    <h2>Recent Projects</h2>
    <ul class="cmp-project__list">
      {% for project in global.recentProjects %}
        <li>
          <article class="cmp-project__card">
            <h3 class="cmp-project__heading">
              {% if project.siteLink %}
                <a href="{{ project.siteLink }}">{{ project.name }}</a>
              {% else %}
                {{ project.name }}
              {% endif %}
            </h3>
            <ul class="cmp-badge__list">
              {% for role in project.roles %}
                <li class="cmp-badge">{{ role }}</li>
              {% endfor %}
            </ul>
          </article>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="cmp-stack">
    <h2>Recent Writing</h2>
    <ul class="cmp-article-listing__list">
      {% for article in collections.writing | reverse %}
        {% if loop.index <= 3 %}
          <li>
            <a href="{{ article.url }}" class="cmp-article-listing__link">{{ article.data.articleTitle }}</a>
            <span>
              <span class="util-visually-hidden">Published:</span>
              <time datetime="{{ article.date.toISOString() }}" class="cmp-badge">
                {{ article.date.toLocaleDateString(undefined, { timeZone: 'UTC' }) }}
              </time>
            </span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="cmp-stack">
    <h2>Recent Pictures of Cats</h2>
    <div class="cmp-pictures-of-cats__grid">
      {% from 'macros/cat-picture.njk' import catPicture %}
      {% for image in global.picturesOfCats | reverse %}
        {% if loop.index <= 2 %}
          {{ catPicture(image, loop.index) }}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
