---
permalink: /styles.css
eleventyExcludeFromCollections: true
---
{% include '../css/generic/_reset.css' %}
{% include '../css/elements/_root.css' %}
{% include '../css/elements/_headings.css' %}
{% include '../css/elements/_p.css' %}
{% include '../css/elements/_header.css' %}
{% include '../css/elements/_footer.css' %}
{% include '../css/elements/_pre-code.css' %}
{% include '../css/elements/_a.css' %}
{% include '../css/elements/_lists.css' %}
{% include '../css/components/_container.css' %}
{% include '../css/components/_stack.css' %}
{% include '../css/components/_skip-to-content.css' %}
{% include '../css/components/_navigation.css' %}
{% include '../css/components/_project.css' %}
{% include '../css/components/_badge.css' %}
{% include '../css/components/_article-listing.css' %}
{% include '../css/components/_pictures-of-cats.css' %}
{% include '../css/components/_it-me.css' %}
{% include '../css/components/_fine-print.css' %}
{% include '../css/components/_article.css' %}
{% include '../css/components/_hljs.css' %}
{% include '../css/utilities/_visually-hidden.css' %}
