---
title: Writing | Dustin Whisman
description: I write words sometimes, feel free to read them if you like.
layout: layout.njk
---

<h1>Writing</h1>

<p>
  I feel like there should be a really low resolution GIF of a construction worker here. This is a work-in-progress is what I'm saying.
</p>
