<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %}
	<title>{{ title }}</title>
	{% endblock %}
	<link rel="stylesheet" href="/styles.css">
	{% block description %}
	<meta name="description" content="{{ description }}">
	{% endblock %}
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="alternate icon" href="/favicon.png" type="image/png">
	<link rel="mask-icon" href="/favicon.svg">
	<link rel="apple-touch-icon" href="/maskable_icon.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="color-scheme" content="light dark">
	<meta name="theme-color" content="#1a1a1a" media="(prefers-color-scheme: dark)">
	<meta name="theme-color" content="#f2f2f2" media="(prefers-color-scheme: light)">
	<link rel="alternate" type="application/rss+xml" title="Dustin Whisman" href="https://dustinwhisman.com/feed.xml">
</head>

<body>
	{% block header %}
	<header>
		<a href="#main-content" class="util-visually-hidden cmp-skip-to-content">Skip to content</a>
		<div class="cmp-container">
			<nav aria-label="main navigation">
				<ul class="cmp-navigation">
					<li>
						<a href="/" {% if page.url === '/' %}aria-current="page"{% endif %}>Home</a>
					</li>
					<li>
						<a href="/writing/" {% if page.url === '/writing/' %}aria-current="page"{% endif %}>Writing</a>
					</li>
					<li>
						<a href="/projects/" {% if page.url === '/projects/' %}aria-current="page"{% endif %}>Projects</a>
					</li>
					<li>
						<a href="/links/" {% if page.url === '/links/' %}aria-current="page"{% endif %}>Links</a>
					</li>
					<li>
						<a href="/cats/" {% if page.url === '/cats/' %}aria-current="page"{% endif %}>Pictures of Cats</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	{% endblock %}
	<main id="main-content" tabindex="-1">
		{% block content %}
		<article class="cmp-container cmp-stack">
			{{ content | safe }}
		</article>
		{% endblock %}
	</main>
	{% block footer %}
	<footer>
		<a href="#end-of-footer" class="util-visually-hidden cmp-skip-to-content">Skip to the end of the footer</a>
		<div class="cmp-container cmp-stack">
			<p class="cmp-fine-print">
				Do you have a web development project that you need help with? I'm
				probably too busy to help on my own, but if you <a
				href="https://sparkbox.com/contact">contact Sparkbox</a> and end up
				working with them, I get a nice little bonus. Just tell them Dustin sent
				you—I might even end up working on the project.
			</p>
			<ul class="cmp-navigation">
				<li>
					<a rel="me" href="https://mastodon.social/@dustinwhisman">Mastodon</a>
				</li>
				<li>
					<a href="https://www.buymeacoffee.com/dustinwhisman">Buy me a coffee</a>
				</li>
				<li>
					<a href="https://github.com/dustinwhisman/dustinwhisman.com">View source</a>
				</li>
				<li>
					<a href="/feed.xml">RSS feed</a>
				</li>
				<li>
					<a href="/contact-me/">Contact me</a>
				</li>
				<li>
					<a id="end-of-footer" href="https://creativecommons.org/licenses/by/4.0/">Content license</a>
				</li>
				<li>
					© Copyright
					<span data-current-year>
						{{ global.year() }}
					</span>
				</li>
			</ul>
		</div>
	</footer>
	{% endblock %}

	<!-- global scripts, should render on every page -->
	<script src="/global-scripts.js"></script>

	<!-- page-specific scripts, should be set within the page template -->
	{% block scripts %}{% endblock %}

	<script type="module">
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/service-worker.js');
			});
		}
	</script>
</body>

</html>
