<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %}
	<title>{{ title }}</title>
	<meta property="og:title" content="{{ title }}">
	{% endblock %}
	<link rel="stylesheet" href="/styles.css">
	{% block description %}
	<meta name="description" content="{{ description }}">
	<meta property="og:description" content="{{ description }}">
	{% endblock %}
	<link rel="icon" href="/favicon.png" type="image/png">
	<link rel="mask-icon" href="/favicon.png">
	<link rel="apple-touch-icon" href="/maskable_icon.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="color-scheme" content="light dark">
	<meta name="theme-color" content="#1a1a1a" media="(prefers-color-scheme: dark)">
	<meta name="theme-color" content="#f2f2f2" media="(prefers-color-scheme: light)">
	<link rel="alternate" type="application/rss+xml" title="Dustin Whisman" href="https://dustinwhisman.com/feed.xml">
	<meta property="og:image" content="{{ processEnv.BASE_URL }}/icon-192.png">
	<meta property="og:url" content="{{ processEnv.BASE_URL }}{{ page.url }}">
	<meta property="og:type" content="website">
	<meta name="generator" content="Eleventy">
</head>

<body>
	{% block header %}
	<header class="lyt-container">
		<a href="#main-content" class="util-visually-hidden cmp-skip-to-content">Skip to content</a>
		<nav aria-label="main navigation">
			<ul class="cmp-navigation">
				<li>
					<a href="/" {% if page.url === '/' %}aria-current="page"{% endif %}>Home</a>
				</li>
				<li>
					<a href="/writing/" {% if page.url === '/writing/' %}aria-current="page"{% endif %}>Writing</a>
				</li>
				<li>
					<a href="/work/" {% if page.url === '/work/' %}aria-current="page"{% endif %}>Work</a>
				</li>
				<li>
					<a href="/links/" {% if page.url === '/links/' %}aria-current="page"{% endif %}>Links</a>
				</li>
				<li>
					<a href="/cats/" {% if page.url === '/cats/' %}aria-current="page"{% endif %}>Pictures of Cats</a>
				</li>
			</ul>
		</nav>
	</header>
	{% endblock %}
	<main id="main-content" tabindex="-1" class="lyt-container">
		{% block content %}
		<article class="cmp-article__container lyt-stack">
			{{ content | safe }}
		</article>
		{% endblock %}
	</main>
	{% block footer %}
	<footer class="lyt-container">
		<div class="lyt-stack">
			<a href="#end-of-footer" class="util-visually-hidden cmp-skip-to-content">Skip to the end of the footer</a>
			<p class="body-sm">
				Do you have a project that needs help getting off the ground? A website that needs an accessibility audit or remediation? Did you vibe code an app that's broken now and can't figure out why? Get in touch with me at <a href="mailto:dustin@dustinwhisman.com">dustin@dustinwhisman.com</a>.
			</p>
			<ul class="cmp-navigation">
				<li>
					<a href="https://github.com/dustinwhisman/">GitHub</a>
				</li>
				<li>
					<a href="/feed.xml">RSS feed</a>
				</li>
				<li>
					<a href="/search/">Search</a>
				</li>
				<li>
					<a id="end-of-footer" href="/copyright/">
						© Copyright 2022 -
						<span data-current-year>
							{{ global.year() }}
						</span>
					</a>
				</li>
			</ul>
		</div>
	</footer>
	{% endblock %}

	<!-- global scripts, should render on every page -->
	<script src="/js/globals.js" type="module"></script>
	<script src="https://tinylytics.app/embed/BdG1QiBChswEkEpQfbqg.js" defer></script>

	<!-- page-specific scripts, should be set within the page template -->
	{% block scripts %}{% endblock %}

	<script type="module">
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/service-worker.js');
			});
		}
	</script>
</body>

</html>
