---
title: Web Accessibility Specialist Certification | Dustin Whisman
description: At time of writing, I'm studying for the Web Accessibility Specialist (WAS) Certification. This is a collection of notes and posts written during my time studying for the certification.
layout: default
date: 2023-01-06T00:00:00Z
articleTitle: Web Accessibility Specialist (WAS) Certification
eleventyExcludeFromCollections: true
pagination:
  data: collections['WAS certification']
  size: 25
  alias: articles
  reverse: true
---

<h1>Web Accessibility Specialist (WAS) Certification</h1>

<p>
	I'm studying to earn the <a
	href="https://www.accessibilityassociation.org/s/wascertification">WAS
	certification</a>. I'll be publishing any notes and posts written during my
	time studying, so that:
</p>

<ol>
	<li>
		I'll have a solid collection of notes to refer back to
	</li>
	<li>
		I can share what I learn as I go
	</li>
</ol>

<ul class="cmp-article-listing__list">
	{% for article in articles %}
		<li>
			<a href="{{ article.url }}" class="cmp-article-listing__link">{{ article.data.articleTitle }}</a>
			<span>
				<span class="util-visually-hidden">Published:</span>
				<time datetime="{{ article.date.toISOString() }}" class="cmp-badge">
					{{ article.date.toLocaleDateString(undefined, { timeZone: 'UTC' }) }}
				</time>
			</span>
		</li>
	{% endfor %}
</ul>

<nav class="cmp-navigation cmp-navigation--basic-pagination" aria-label="WAS Certification notes pagination navigation">
	{% if pagination.href.previous %}
		<a href="{{ pagination.href.previous }}">Newer posts</a>
	{% endif %}
	{% if pagination.href.next %}
		<a href="{{ pagination.href.next }}">Older posts</a>
	{% endif %}
</nav>
