---
title: Projects | Dustin Whisman
description: Check out some of the projects I've worked on, including ones that are still in progress.
layout: layout.njk
---

<h1>Projects</h1>

<div class="cmp-stack">
  <p>
    These are the projects I've worked on recently, both for clients and as
    personal side projects. I've done way more stuff, but almost everything before
    2021 is behind authentication or lives on intranets. Bad news for fans of B2B
    logistics applications…
  </p>

  {% for projectType in breakdown %}
    <div>
      <h2 class="cmp-project__group-heading">{{ projectType[0] }}</h2>
      <ul class="cmp-project__list">
        {% for project in projectType[1] %}
          <li>
            <article class="cmp-project__card">
              <h3 class="cmp-project__heading">
                {% if project.siteLink %}
                  <a href="{{ project.siteLink }}">{{ project.name }}</a>
                {% else %}
                  {{ project.name }}
                {% endif %}
              </h3>
              <p>{{ project.description }}</p>
              {% if project.repoLink %}
                <p>
                  <a href="{{ project.repoLink }}">View Source</a>
                </p>
              {% endif %}
              <ul class="cmp-badge__list">
                {% for role in project.roles %}
                  <li class="cmp-badge">{{ role }}</li>
                {% endfor %}
              </ul>
            </article>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
