@import './generic/_reset.css';

@import './elements/_root.css';
@import './elements/_headings.css';

p {
  font-size: var(--size-s0);
}

header {
  padding-block: var(--size-s0);
  margin-block-end: var(--size-s4);
}

footer {
  padding-block: var(--size-s0);
  margin-block-start: var(--size-s4);
}

pre {
  font-family: var(--mono);
  background-color: var(--terminal);
  border-radius: 0.25rem;
  padding: var(--size-s3);
  white-space: pre;
  overflow-x: auto;
}

pre[tabindex="0"]:focus {
  outline: 0.125em solid var(--ink);
  outline-offset: 0.25em;
}

pre[tabindex="0"]:focus:not(:focus-visible) {
  outline-color: transparent;
}

pre code {
  background-color: var(--terminal);
  display: inline-block;
  font-size: 100%;
  padding-inline: 0 var(--size-s3);
}

code {
  font-family: var(--mono);
  font-size: 85%;
  background-color: var(--terminal);
  padding-inline: 0.25ch;
  border-radius: 0.25em;
}

a {
  color: currentcolor;
}

a:hover, a:focus {
  text-decoration: none;
}

a:focus {
  outline: 0.125em solid var(--ink);
  outline-offset: 0.25em;
}

a:focus:not(:focus-visible) {
  outline-color: transparent;
}

a[aria-current=page] {
  text-transform: uppercase;
  text-decoration: none;
}

ul {
  font-size: var(--size-s0);
}

ol {
  font-size: var(--size-s0);
}

dl {
  font-size: var(--size-s0);
}

dt {
  font-weight: 700;
}

dd {
  margin-block-start: var(--size-s-5);
  padding-inline-start: var(--size-s-1);
  border-inline-start: 0.125em solid var(--ink);
}

.cmp-container {
  width: min(100vw - 2rem, 50rem);
  margin-inline: auto;
}

.cmp-stack {
  display: flex;
  flex-direction: column;
  gap: var(--size-s0);
}

.cmp-stack--giga {
  gap: var(--size-s5);
}

.cmp-skip-to-content:focus {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em;
  background-color: var(--paper);
  outline-offset: 0;
}

.cmp-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-s0);
  padding-inline: 0;
  font-size: var(--size-s0);
}

.cmp-project__list {
  list-style: none;
  padding-inline: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: var(--size-s5);
}

.cmp-project__card {
  display: flex;
  flex-direction: column;
  gap: var(--size-s0);
  align-items: flex-start;
}

.cmp-project__heading {
  font-size: var(--size-s0);
  margin: 0;
}

.cmp-project__group-heading {
  margin-block-start: var(--size-s5);
  margin-block-end: var(--size-s3);
}

.cmp-project__type {
  color: var(--ink);
  font-size: var(--size-s-1);
  padding-inline-start: var(--size-s-4);
  border-inline-start: 0.125em solid var(--ink);
}

.cmp-project__type--apprenticeship-capstone-project {
  --ink: #1a5e80;
}

@media (prefers-color-scheme: dark) {
  .cmp-project__type--apprenticeship-capstone-project {
    --ink: #80c4e6;
  }
}

.cmp-project__type--side-project {
  --ink: #002b80;
}

@media (prefers-color-scheme: dark) {
  .cmp-project__type--side-project {
    --ink: #80aaff;
  }
}

.cmp-project__type--client-project {
  --ink: #006655;
}

@media (prefers-color-scheme: dark) {
  .cmp-project__type--client-project {
    --ink: #80e6d5;
  }
}

.cmp-project__skip-link {
  margin-block-end: var(--size-s0);
}

.cmp-badge {
  font-size: var(--size-s-1);
}

.cmp-badge__list {
  list-style: none;
  padding-inline: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-s0);
}

.cmp-article-listing__list {
  display: flex;
  flex-direction: column;
  gap: var(--size-s0);
  font-size: var(--size-s0);
}

.cmp-article-listing__link {
  display: block;
  width: fit-content;
}

.cmp-pictures-of-cats__grid {
  display: grid;
  gap: var(--size-s0);
  grid-template-columns: 1fr;
}

@media (min-width: 52rem) {
  .cmp-pictures-of-cats__grid {
    grid-template-columns: 1fr 1fr;
  }

  @supports (grid-template-rows: masonry) {
    .cmp-pictures-of-cats__grid {
      grid-template-rows: masonry;
    }
  }

  @supports not (grid-template-rows: masonry) {
    .cmp-pictures-of-cats__grid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}

@media (min-width: 52rem) {
  @supports not (grid-template-rows: masonry) {
    .cmp-pictures-of-cats__cell {
      --aspect-ratio: 1;
      flex-basis: 17.5rem;
      flex-grow: max((var(--aspect-ratio) - 1) * 1000, 1);
    }
  }
}

.cmp-pictures-of-cats__image {
  --shadow-color: 0deg 0% 0%;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color)/10%), 1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color)/10%), 2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color)/10%), 4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color)/10%), 7.1px 14.3px 18px -1.4px hsl(var(--shadow-color)/10%), 11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color)/10%), 17px 33.9px 42.7px -2.1px hsl(var(--shadow-color)/10%), 25px 50px 62.9px -2.5px hsl(var(--shadow-color)/10%);
  border-radius: var(--size-s-5);
  width: 100%;
  height: auto;
}

.cmp-it-me__image {
  --shadow-color: 0deg 0% 0%;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color)/10%), 1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color)/10%), 2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color)/10%), 4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color)/10%), 7.1px 14.3px 18px -1.4px hsl(var(--shadow-color)/10%), 11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color)/10%), 17px 33.9px 42.7px -2.1px hsl(var(--shadow-color)/10%), 25px 50px 62.9px -2.5px hsl(var(--shadow-color)/10%);
  float: left;
  float: inline-start;
  max-width: min(30vw, 200px);
  height: auto;
  border-radius: 50%;
  shape-outside: circle(50%);
  margin-block-end: var(--size-s-4);
  margin-inline-end: var(--size-s0);
}

.cmp-it-me > p + p {
  margin-block-start: var(--size-s0);
}

.cmp-fine-print {
  font-size: var(--size-s-1);
  font-style: italic;
}

.cmp-article__image {
  margin: var(--size-s0) auto;
}

.hljs-attr, .hljs-attribute, .hljs-built_in, .hljs-comment, .hljs-keyword, .hljs-meta, .hljs-name, .hljs-number, .hljs-params, .hljs-property, .hljs-regexp, .hljs-section, .hljs-selector-tag, .hljs-string, .hljs-tag, .hljs-title, .hljs-variable {
  color: var(--ink);
}

.hljs-attr, .hljs-attribute, .hljs-params {
  --ink: #1a5e80;
}

.hljs-built_in, .hljs-title.function_, .hljs-number {
  --ink: #526600;
}

.hljs-comment {
  --ink: #006600;
}

.hljs-tag {
  --ink: #6a6a6a;
}

.hljs-keyword, .hljs-meta, .hljs-tag .hljs-name, .hljs-selector-tag {
  --ink: #002b80;
}

.hljs-property, .hljs-variable {
  --ink: #006655;
}

.hljs-regexp {
  --ink: maroon;
}

.hljs-section {
  --ink: #0065b3;
}

.hljs-string {
  --ink: #804d00;
}

@media (prefers-color-scheme: dark) {
  .hljs-attr, .hljs-attribute, .hljs-params {
    --ink: #80c4e6;
  }

  .hljs-built_in, .hljs-title.function_, .hljs-number {
    --ink: #d1e680;
  }

  .hljs-comment {
    --ink: #80a680;
  }

  .hljs-tag {
    --ink: #aaaaaa;
  }

  .hljs-keyword, .hljs-meta, .hljs-tag .hljs-name, .hljs-selector-tag {
    --ink: #80aaff;
  }

  .hljs-property, .hljs-variable {
    --ink: #80e6d5;
  }

  .hljs-regexp {
    --ink: #ff8080;
  }

  .hljs-section {
    --ink: #80c8ff;
  }

  .hljs-string {
    --ink: #ffcc80;
  }
}

.util-visually-hidden:not(:focus) {
  position: absolute;
  height: 1px;
  width: 1px;
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}
