@import './generic/_reset.css';

@import './elements/_root.css';
@import './elements/_headings.css';
@import './elements/_p.css';
@import './elements/_header.css';
@import './elements/_footer.css';
@import './elements/_pre-code.css';
@import './elements/_a.css';
@import './elements/_lists.css';

@import './components/_container.css';
@import './components/_stack.css';
@import './components/_skip-to-content.css';
@import './components/_navigation.css';
@import './components/_project.css';
@import './components/_badge.css';
@import './components/_article-listing.css';
@import './components/_pictures-of-cats.css';
@import './components/_it-me.css';
@import './components/_fine-print.css';
@import './components/_article.css';

.hljs-attr, .hljs-attribute, .hljs-built_in, .hljs-comment, .hljs-keyword, .hljs-meta, .hljs-name, .hljs-number, .hljs-params, .hljs-property, .hljs-regexp, .hljs-section, .hljs-selector-tag, .hljs-string, .hljs-tag, .hljs-title, .hljs-variable {
  color: var(--ink);
}

.hljs-attr, .hljs-attribute, .hljs-params {
  --ink: #1a5e80;
}

.hljs-built_in, .hljs-title.function_, .hljs-number {
  --ink: #526600;
}

.hljs-comment {
  --ink: #006600;
}

.hljs-tag {
  --ink: #6a6a6a;
}

.hljs-keyword, .hljs-meta, .hljs-tag .hljs-name, .hljs-selector-tag {
  --ink: #002b80;
}

.hljs-property, .hljs-variable {
  --ink: #006655;
}

.hljs-regexp {
  --ink: maroon;
}

.hljs-section {
  --ink: #0065b3;
}

.hljs-string {
  --ink: #804d00;
}

@media (prefers-color-scheme: dark) {
  .hljs-attr, .hljs-attribute, .hljs-params {
    --ink: #80c4e6;
  }

  .hljs-built_in, .hljs-title.function_, .hljs-number {
    --ink: #d1e680;
  }

  .hljs-comment {
    --ink: #80a680;
  }

  .hljs-tag {
    --ink: #aaaaaa;
  }

  .hljs-keyword, .hljs-meta, .hljs-tag .hljs-name, .hljs-selector-tag {
    --ink: #80aaff;
  }

  .hljs-property, .hljs-variable {
    --ink: #80e6d5;
  }

  .hljs-regexp {
    --ink: #ff8080;
  }

  .hljs-section {
    --ink: #80c8ff;
  }

  .hljs-string {
    --ink: #ffcc80;
  }
}

.util-visually-hidden:not(:focus) {
  position: absolute;
  height: 1px;
  width: 1px;
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}
