---
title: 404 Not Found | Dustin Whisman
description: I couldn't find what you were looking for. I might have moved it at some point.
layout: default
permalink: /404.html
---

<h1>Not Found</h1>

<p>
	Sorry, I couldn't find what you were looking for. It either:
</p>
<ul>
	<li>never existed</li>
	<li>existed but got moved during some architectural changes to the site</li>
	<li>or existed but I deleted it for some reason</li>
</ul>
<p>
	Have a look at the <a href="/">home page</a>. You <em>might</em> be able to find it from there.
</p>
