---
title: Dustin Whisman - Web Developer
description: Hi, I'm Dustin. I'm a web developer, which means I write HTML, CSS, and JavaScript, among other related tooling and frameworks.
layout: default
---

<h1 class="util-visually-hidden">
	Dustin Whisman: Web Developer
</h1>

<div class="cmp-about">
	<div class="cmp-about__image">
		<img
			src="/images/d-sprite.png"
			alt="Pixel art animation of me staring forward, blinking occasionally before a cat jumps up to get in my face."
			class="cmp-self-sprite"
			width="256"
			height="256"
			style="object-fit: cover; object-position: 0% 0%;"
		>
	</div>
	<div class="cmp-about__description">
		<p>
			Hi, I'm Dustin Whisman. I'm a web developer with over a decade of experience solving problems and building high quality user experiences.
		</p>
		<p>
			I'm a <a href="https://www.accessibilityassociation.org/s/wascertification">Web Accessibility Specialist</a>,
			and while my bread and butter is HTML, CSS, and JavaScript, I'm comfortable jumping into any language or framework.
		</p>
	</div>
</div>

<h2>Recent Writing</h2>
<ul class="cmp-article-listing">
	{% for article in collections.writing | reverse %}
		{% if loop.index <= 5 %}
			<li>
				<a href="{{ article.url }}">{{ article.data.articleTitle }}</a>
				<span>
					<span class="util-visually-hidden">Published:</span>
					<time datetime="{{ article.date.toISOString() }}" class="body-sm">
						{{ article.date.toLocaleDateString(undefined, { timeZone: 'UTC' }) }}
					</time>
				</span>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<h2>Work</h2>
<p>
	I've worked on lots of projects that fall into a handful of main categories. I've also served as individual contributor, technical lead, architect, product owner, and mentor for other developers, depending on what's most useful to the team at the time.
</p>
<ul>
	<li>Accessibility Audits and Remediation</li>
	<li>CMS Migrations</li>
	<li>Design Systems</li>
	<li>E-Commerce</li>
	<li>Feature Development (basic web development)</li>
	<li>Oddball Projects (deviations from typical web development)</li>
	<li>Side Projects and Experiments</li>
</ul>

<h2>Recent Pictures of Cats</h2>
{% set altText = "Collection of the most recent pictures of my cats, Goose and Barry." %}
{% from 'partials/macros/cat-picture.njk' import catPicture %}
{% for image in global.picturesOfCats %}
	{% if loop.index <= 4 %}
		{% if loop.index > 1 %}
			{% set altText = "" %}
		{% endif %}
		{{ catPicture(image, loop.index, 0, altText) }}
	{% endif %}
{% endfor %}
