---
title: Dustin Whisman - Web Developer
description: Hi, I'm Dustin. I'm a full stack developer, which means I write HTML, CSS, and JavaScript, among other related tooling and frameworks.
layout: default
---

<h1 class="util-visually-hidden">
	Dustin Whisman: Web Developer
</h1>

<div class="cmp-stack cmp-stack--s5">
	<div class="cmp-it-me">
		<picture>
			<source srcset="/images/beautiful-shining-face.avif" type="image/avif">
			<source srcset="/images/beautiful-shining-face.webp" type="image/webp">
			<img
				src="/images/beautiful-shining-face.jpg"
				alt="One of few salvageable photos of me from vacation in Switzerland. I'm almost smiling like a normal person."
				class="cmp-it-me__image"
				width="200"
				height="200"
			>
		</picture>
		<p>
			Hi, I'm Dustin. I'm a web developer at
			<a href="https://sparkbox.com">Sparkbox</a>, where I usually write HTML,
			CSS, and JavaScript, but I'll mix it up with other languages or native
			applications if necessary.
		</p>
		<p>
			My specialty is accessibility (I have a <a
			href="https://www.accessibilityassociation.org/s/wascertification">certification</a>,
			for whatever that's worth), but I'm a problem solver to my core. If
			there's a weird project with niche technology, I'm happy to jump in there
			and see what I can figure out.
		</p>
	</div>

	<div class="cmp-stack">
		<h2>Recent Writing</h2>
		<ul class="cmp-article-listing__list">
			{% for article in collections.writing | reverse %}
				{% if loop.index <= 5 %}
					<li>
						<a href="{{ article.url }}" class="cmp-article-listing__link">{{ article.data.articleTitle }}</a>
						<span>
							<span class="util-visually-hidden">Published:</span>
							<time datetime="{{ article.date.toISOString() }}" class="cmp-badge">
								{{ article.date.toLocaleDateString(undefined, { timeZone: 'UTC' }) }}
							</time>
						</span>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>

	<div class="cmp-stack">
		<h2>Recent Projects</h2>
		<ul class="cmp-project__list">
			{% from 'partials/macros/project-card.njk' import projectCard %}
			{% for project in global.recentProjects %}
				<li>
					{{ projectCard(project, 'h3') }}
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="cmp-stack">
		<h2>Recent Pictures of Cats</h2>
		<div class="cmp-pictures-of-cats__grid">
			{% set altText = "Collection of the most recent pictures of my cats, Goose and Barry." %}
			{% from 'partials/macros/cat-picture.njk' import catPicture %}
			{% for image in global.picturesOfCats %}
				{% if loop.index <= 4 %}
					{% if loop.index > 1 %}
						{% set altText = "" %}
					{% endif %}
					{{ catPicture(image, loop.index, 0, altText) }}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
