---
title: Dustin Whisman - Web Developer
description: Hi, I'm Dustin. I'm a web developer, which means I write HTML, CSS, and JavaScript, among other related tooling and frameworks.
layout: default
---

<h1 class="util-visually-hidden">
	Dustin Whisman: Web Developer
</h1>

<div class="cmp-about">
	<div class="cmp-about__image">
		<img
			src="/images/d-sprite.png"
			alt="A pixel art rendering of my face, which is secretly an animation that periodically switches from a neutral expression to a suspicious eyebrow arch, with some blinking."
			class="cmp-self-sprite"
			width="256"
			height="256"
			style="object-fit: cover; object-position: 0% 0%;"
		>
	</div>
	<div class="cmp-about__description">
		<p>
			Hi, I'm Dustin Whisman. I'm a web developer with over a decade of experience solving problems for clients and collaborating with designers to build better user experiences.
		</p>
		<p>
			I have an <a href="https://www.accessibilityassociation.org/s/wascertification">accessibility certification</a>,
			and I've spent enough time in different languages and frameworks to be able to get up to speed with unfamiliar codebases, but my bread and butter is HTML, CSS, and JavaScript.
		</p>
	</div>
</div>

<h2>Recent Writing</h2>
<ul class="cmp-article-listing">
	{% for article in collections.writing | reverse %}
		{% if loop.index <= 5 %}
			<li>
				<a href="{{ article.url }}">{{ article.data.articleTitle }}</a>
				<span>
					<span class="util-visually-hidden">Published:</span>
					<time datetime="{{ article.date.toISOString() }}" class="body-sm">
						{{ article.date.toLocaleDateString(undefined, { timeZone: 'UTC' }) }}
					</time>
				</span>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<h2>Recent Pictures of Cats</h2>
{% set altText = "Collection of the most recent pictures of my cats, Goose and Barry." %}
{% from 'partials/macros/cat-picture.njk' import catPicture %}
{% for image in global.picturesOfCats %}
	{% if loop.index <= 4 %}
		{% if loop.index > 1 %}
			{% set altText = "" %}
		{% endif %}
		{{ catPicture(image, loop.index, 0, altText) }}
	{% endif %}
{% endfor %}
