---
permalink: /styles.css
eleventyExcludeFromCollections: true
---
@layer generic, elements, components, utilities;

@layer generic {
{% include 'partials/css/generic/_reset.css' %}
}

@layer elements {
{% include 'partials/css/elements/_root.css' %}
{% include 'partials/css/elements/_headings.css' %}
{% include 'partials/css/elements/_p.css' %}
{% include 'partials/css/elements/_header.css' %}
{% include 'partials/css/elements/_footer.css' %}
{% include 'partials/css/elements/_pre-code.css' %}
{% include 'partials/css/elements/_a.css' %}
{% include 'partials/css/elements/_lists.css' %}
}

@layer components {
{% include 'partials/css/components/_container.css' %}
{% include 'partials/css/components/_stack.css' %}
{% include 'partials/css/components/_skip-to-content.css' %}
{% include 'partials/css/components/_navigation.css' %}
{% include 'partials/css/components/_project.css' %}
{% include 'partials/css/components/_badge.css' %}
{% include 'partials/css/components/_article-listing.css' %}
{% include 'partials/css/components/_pictures-of-cats.css' %}
{% include 'partials/css/components/_it-me.css' %}
{% include 'partials/css/components/_fine-print.css' %}
{% include 'partials/css/components/_article.css' %}
{% include 'partials/css/components/_hljs.css' %}
{% include 'partials/css/components/_writing-grid.css' %}
}

@layer utilities {
{% include 'partials/css/utilities/_visually-hidden.css' %}
}
