---
title: Links - Dustin Whisman
description: A collection of links to places elsewhere on the web that are worth bookmarking and sharing.
layout: default
pagination:
  data: bookmarks
  size: 25
  alias: links
  reverse: true
---

<h1>Links</h1>

<p>
	This is a collection of links to places elsewhere on the web that are worth bookmarking and sharing.
</p>

{% for link in links %}
	<article class="cmp-stack cmp-stack--s-3">
		<h2>
			<a href="{{ link.link }}">{{ link.title }}</a>
		</h2>
		{% if link.author %}
			<p>
				{% if link.authorLink %}
					<a href="{{ link.authorLink }}">{{ link.author }}</a>
				{% else %}
					{{ link.author }}
				{% endif %}
			</p>
		{% endif %}
		{% if link.description %}
			<p>{{ link.description }}</p>
		{% endif %}
	</article>
{% endfor %}

<nav class="cmp-navigation cmp-navigation--basic-pagination" aria-label="Links pagination navigation">
	{% if pagination.href.previous %}
		<a href="{{ pagination.href.previous }}" class="cmp-navigation__previous">Newer links</a>
	{% endif %}
	{% if pagination.href.next %}
		<a href="{{ pagination.href.next }}" class="cmp-navigation__next">Older links</a>
	{% endif %}
</nav>
