a {
  color: currentcolor;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: 0.125em solid var(--ink);
    outline-offset: 0.25em;

    &:not(:focus-visible) {
      outline-color: transparent;
    }
  }

  &[aria-current='page'] {
    text-transform: uppercase;
    text-decoration: none;
  }
}
