@use '../tools/functions';

pre {
  font-family: functions.font-family('mono');
  background-color: var(--terminal);
  border-radius: 0.25rem;
  padding: functions.fluid-size('kilo');
  white-space: pre;
  overflow-x: auto;

  &[tabindex='0']:focus {
    outline: 0.125em solid var(--ink);
    outline-offset: 0.25em;

    &:not(:focus-visible) {
      outline-color: transparent;
    }
  }

  code {
    background-color: var(--terminal);
    display: inline-block;
    font-size: 100%;
    padding-inline: 0 functions.fluid-size('kilo');
  }
}
