@use "sass:color";
@use '../tools/functions';

:root {
  --ink: #{color.hwb(0deg 10% 90%)};
  --paper: #{color.hwb(0deg 95% 5%)};
  --terminal: #{color.hwb(180deg 85% 5%)};

  font-family: functions.font-family('serif');
  color-scheme: light dark;
  background-color: var(--paper);
  color: var(--ink);

  @media (prefers-color-scheme: dark) {
    --ink: #{color.hwb(0deg 95% 5%)};
    --paper: #{color.hwb(0deg 10% 90%)};
    --terminal: #{hwb(200deg 0% 80%)};

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
