---
title: Writing | Dustin Whisman
description: I write words sometimes.
layout: layout.njk
---

<h1>Writing</h1>

<ul class="cmp-article-listing__list">
  {% for article in collections.writing | reverse %}
    <li>
      <a href="{{ article.url }}" class="cmp-article-listing__link">{{ article.data.articleTitle }}</a>
      <span>
        <span class="util-visually-hidden">Published:</span>
        <time datetime="{{ article.date.toISOString() }}" class="cmp-badge">
          {{ article.date.toLocaleDateString(undefined, { timeZone: 'UTC' }) }}
        </time>
      </span>
    </li>
  {% endfor %}
</ul>
